* {
  font-family: 'Josefin Sans', sans-serif;
  color: #2A2438;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #DBD8E3;
}

/*Header declaration*/
#header .header-text {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/*Footer style declaration*/
#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  align-items: center;
  margin-top: 20px;
  gap: 8px;
}

#main-container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

/*Gird board style declarations*/
/*First content*/
.grid-board {
  height: 500px;
  width: 500px;
  display: grid;
  box-shadow: 9px 8px 14px 4px rgba( 42,35,72 , 0.2 ) ;
}

.remover-button {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.first-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

/*Second Content Declarations*/
.second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  align-self:flex-start;
}

.btn {
  padding: 10px;
  width: 180px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid #2A2438;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  transition: transform .4s;
  box-shadow: 3px 3px 9px 1px rgba( 92, 92, 92 , 0.25 ) ;
}

.btn.active {
  background-color: #352F44;
  color: hsl(256, 16%, 87%);
}

.mode:hover {
  transform: scale(1.1);
}

#color-input {
  border-radius: 35px;
  cursor: pointer;
  height: 80px;
  width: 140px;
  border: none;
}

/*This pseudo element allow us to change the color borders and so on*/
#color-input::-webkit-color-swatch {
  border-radius: 35px;
  border: none;
}

/*Styling input range*/
input[type="range"] {
  border: 1px solid #2A2438;
  -webkit-appearance: none;
  width: 170px;
  height: 11px;
  border-radius: 5px;
  background-image: linear-gradient(transparent);
}
/*Desining the range slide thumb*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #2A2438;
  cursor: pointer;
}


/*Adding shake animation on clear button*/
.shake {
  animation: tilt-n-move-shaking 0.5s;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
